<body class="body-home">
  <div class="banner banner-image" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://media.vanityfair.com/photos/5e791cd29c91c70009797058/5:3/w_1875,h_1125,c_limit/nature-movies-portrait-of-a-lady-on-fire.jpg);">
    <div class="container">
      <h1 class="h1-home">Get the popcorn!</h1>
      <p>Movie lists to ease the burden of movie-picking</p>
      <div class='btn btn-flat'>
        <%= link_to "Create a new list", new_list_path %>
      </div>
    </div>
  </div>

  <div class="cards div-80">
    <% @lists.each do |list| %>
    <div class="card-category">
      <p>
        <%= link_to list.name, list_path(list) %>
      </p>
    </div>
    <% end %>
  </div>
</body>
