.banner-image {
  background-position: center !important;
}

h1 {
  font-style: lato !important;
  font-weight: 700 !important;
}

p {
  font-style: lato;
  font-weight: 400;
}

.light-text {
  font-weight: 200;
  font-style: italic;
}

a {
  text-decoration: none;
  color: black
}
